.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.parent {
  width: 100%;
  text-align: center;
}

.child {
  display: inline-block;
  margin: 2px;
  width: 500px;
}

.font-pages {
  font-size: 80px;
  padding-left: 16px;
}

.name-home {
  text-decoration: none;
  color: white;
}

.name-home:hover {
  color: red;
}

.name-dashboard {
  text-decoration: none;
  color: black;
}

.name-dashboard:hover {
  color: red;
}

.marginLR {
  margin-left: 24px;
  margin-right: 24px;
}

.footer {
  display: flex;
  margin: auto;
  color: rgba(50, 50, 50, 0.446);
  font-style: italic;
}

.col-auto {
  justify-items: center;
  margin: auto;
}

.detail-btn:hover {
  color: red;
}

.add-btn {
  color: rgb(83, 166, 0);
  text-decoration: none;
}

.add-btn:hover {
  color: red;
}